extends ../layout

block content
	h1.
		#{title}
	form#formAddDishwasher(name="adddishwasher",method="post",action="/dishwashers")
		p Brand name:
			input#inputName(type="text",placeholder="e.g. Whirlpool",name="b_name")
		p Model name
			input#inputModel(type="text",placeholder="e.g. QuiteClean",name="m_name")
		p Model number
			input#inputModelNo(type="text",placeholder="e.g. QX750-S",name="m_number")
		p Type
			input#inputType(type="text",placeholder="e.g. Countertop",name="m_type")
		p Gallons per cycle
			input#inputGpc(type="text",placeholder="e.g. 8",name="gpc")
		p Energy factor
			input#inputEf(type="text",placeholder="e.g. 25",name="ef")
		p Kilowatthours per year
			input#inputKpy(type="text",placeholder="e.g. 1200",name="kpy")
		p
			button#btnSubmit(type="submit") submit

	a(href='/dishwashers') back

	